<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-override location="database.properties, web-service.properties"/>

    <bean id="database" class="com.example.mybank.bean.DataSource">
        <property name="url" value="test url property" />
        <property name="username" value="test username property" />
        <property name="password" value="test password property" />
        <property name="driverClass" value="test driverClass property" />
    </bean>

    <bean id="webservice" class="com.example.mybank.bean.WebServiceConfiguration">
        <property name="url" value="test url property" />
    </bean>
</beans>