h1 {
    text-align: center;
}

div {
    margin: 0 auto;
    width: 500px;
}

form {
    text-align: center;
}

label {
    text-align: left;
}

td {
    padding: 10px;
    vertical-align: top;
    font: 12px Arial, serif;
}

td:first-child {
    text-align: right;
}

a {
    margin-left: 10px;
}

.error {
    color: #C11B17;
}